
@{
    ViewBag.Title = "DetailsIndex";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Contact.js"></script>

<h2>DetailsIndex</h2></br>

<input type="hidden" value="@ViewBag.Id" id="hdnID"/>

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3">

                <Lable><b>NAME-</b></Lable>&nbsp;
                <span id="txtName"></span>

            </div>

            <div class="col-sm-3">

                <Lable><b>Mobile_No-</b></Lable>&nbsp;
                <span id="txtMobile_No"></span>

            </div>

            <div class="col-sm-3">

                <Lable><b>Address-</b></Lable>&nbsp;
                <span id="txtAddress"></span>

            </div>

            <div class="col-sm-3">

                <Lable><b>City-</b></Lable>&nbsp;
                <span id="txtCity"></span>

            </div>
        </div>
    </div>
</div>


